<form action="/v1/upload" method="post" enctype="multipart/form-data">
  <div id="file-js" class="file has-name is-centered is-boxed">
    <label class="file-label">
      <input class="file-input" type="file" name="pdf_file" required />
      <span class="file-cta">
        <span class="file-icon">
          <i class="fas fa-upload"></i>
        </span>
        <span class="file-label"> Upload your CV… </span>
      </span>
      <span class="file-name has-text-centered"> .PDF | .DOCX </span>
    </label>
  </div>

  <div class="field is-grouped is-grouped-centered">
    <div class="control">
      <label class="radio">
        <input type="radio" name="user_type" value="recruiter" checked>
        Recruiter
      </label>
      <label class="radio">
        <input type="radio" name="user_type" value="candidate">
        Candidate
      </label>
    </div>
  </div>

  <div class="field is-grouped is-grouped-centered">
    <div class="control">
      <button type="submit" class="button is-primary">Submit</button>
    </div>
  </div>
</form>