* {
    transition: all 0.2s ease-in-out;
}

/* Style for the form and its elements */
.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* set minimum height of the container to the height of the viewport */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    animation: fadeIn 1s;
}

label[for="cv-upload"] {
    color: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

input[type="file"] {
    padding: 10px;
    margin: 10px;
    background-color: #eee;
    border: none;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px 20px;
    margin: 10px;
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

/* Style for video */
video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

/* Style for title */
#title {
    color: #ffffff;
    text-align: center;
    font-size: 48px;
    animation: title-animation 2s ease-in-out forwards;
    margin-bottom: 20px;
}

@keyframes title-animation {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body {
    color: #ffffff;
}

#button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}